<!-- 'editiong' 'completed' -->

<!--  completado nos "tacha la tarea"-->
<li [class.completed]="todo.completado"
    [class.editing]="editando">
  <form [formGroup]="miFormulario">
    <div class="view">

      <input class="toggle" 
             type="checkbox"  
             formControlName="chkControl">

      <label (dblclick)="editar()" >{{todo.texto}}</label>

      <button class="destroy" (click)="borrar()"></button>
    </div>

    <input class="edit" 
           type="text" 
           formControlName="txtInput"
           #inputFisico
           (blur)="terminarEdicion()">
  </form>
  </li>